.overlay{
    position: absolute; 
    bottom: 36%; 
    height: 15;
    width: 0;
    transition: .5s ease;
    color: #f1f1f1; 
    font-size: 20px;
    padding: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    opacity:5;

}